

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

body{
  background-color: white;
  font-family: 'Nunito';
}



.carousel {
  height: 400px;
  margin: 0 200px;
}

.carousel-inner img {
  height: 400px !important;
  margin: 0 auto;
  border-radius: 30px;
}

.carousel-indicators li {
  border-color: #000;
}
.carousel-indicators .active {
  background-color: #000;
}

.nav-item {
  font-size: 25px;
}

.navbar-brand {
  font-size: 30px;
}

.circle {
  background-color: orange;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 35px;
  left: 130px;
  border-radius: 5px;
}

.price{
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 2px;
  color: white;
}

.navbar {
  height: 70px;
  background-color: darkblue;
}

.item-cart {
  margin: 0 10px;
}

.card-text {
  font-weight: 600;
}

.category {
  background-color: rgb(172, 172, 242);
  width: auto;
  border-radius: 10px;
}

.category p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.item-price {
  font-weight: 800;
  font-size: 20px;
}

.cart-container {
  background-color: orange;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.button-cart {
  border: none;
  background-color: white;
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.05);
}

.card-text {

}

.fav-button {
  border: none;
  background-color: white;
  width: 15px;
  font-size: 20px;
}

.fav-button:hover {
  color: red;
}

.fav{
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
  margin-top: 10px;
}

.card {
  height: 520px;
}

.sort {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.sort__label {
  display: flex;
  align-items: center;
}

.sort__label svg {
  margin-right: 5px;
}

.sort__label span{
  color: cornflowerblue;
  border-bottom: 2px dashed cornflowerblue;
  cursor: pointer;
}

.sort__label b{
  margin-right: 5px;
}

.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort__popup ul {
  overflow: hidden;
}

.sort__popup li {
  padding: 12px 20px;
  cursor: pointer;
}

.sort__popup li:hover {
  background: rgba(254, 95, 30, 0.05)
}

.active {
  font-weight: bold;
  color: cornflowerblue;
  background: rgba(254, 95, 30, 0.05)
}
