
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

body{
  background-color: white;
  font-family: 'Nunito';
}

.carousel {
  height: 400px;
  margin: 0 200px;
}

.carousel-inner img {
  height: 400px !important;
  margin: 0 auto;
  border-radius: 30px;
}

.carousel-indicators li {
  border-color: #000;
}
.carousel-indicators .active {
  background-color: #000;
}

.nav-item {
  font-size: 25px;
}

.navbar-brand {
  font-size: 30px;
}

.circle {
  background-color: orange;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 35px;
  left: 130px;
  border-radius: 5px;
}

.price{
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 2px;
  color: white;
}

.navbar {
  height: 70px;
  background-color: darkblue;
}

.item-cart {
  margin: 0 10px;
}

.card-text {
  font-weight: 600;
}

.category {
  background-color: rgb(172, 172, 242);
  width: auto;
  border-radius: 10px;

}

.category p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;

}

.item-price {
  font-weight: 800;
  font-size: 20px;
}

.cart-container {
  background-color: orange;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cart-container__in__cart{
  background-color: limegreen;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container__not_in_stock{
  background-color: orangered;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cart-container__not_in_stock p{
  margin-top: 10px;
}

.button-cart {
  border: none;
  background-color: white;
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.05);
}

.card-text {
  height: 20px;
  margin-bottom: 25px;
}

.fav-button {
  border: none;
  background-color: white;
  width: 15px;
  font-size: 20px;
}

.fav-button:hover {
  color: red;
}

.fav{
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
  margin-top: 10px;
}

.card {
  height: 520px;
}

.sort {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.sort__label {
  display: flex;
  align-items: center;
}

.sort__label svg {
  margin-right: 5px;
}

.sort__label span{
  color: cornflowerblue;
  border-bottom: 2px dashed cornflowerblue;
  cursor: pointer;
}

.sort__label b{
  margin-right: 5px;
}

.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort__popup ul {
  overflow: hidden;
}

.sort__popup li {
  padding: 12px 20px;
  cursor: pointer;
}

.sort__popup li:hover {
  background: rgba(254, 95, 30, 0.05)
}

.active {
  font-weight: bold;
  color: cornflowerblue;
  background: rgba(254, 95, 30, 0.05)
}

.main{
  max-width: 1500px;
}

.elf-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(157, 150, 150);
  background-color: white;
}

.elf-description {
  padding-top: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

}

@media (max-width: 850px) {
}

.back {
  max-width: 100px;
  background-color: orange;
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(134, 121, 121);
  margin: 0 0 5% 70%;
}


.info-img {
  max-width: 50%;
  max-height: 100%;
  object-fit: cover;
}

.info {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 1.5% 0 0 5%;
}

.info h3 {
  width: 50%;
  font-weight: 600;
}

.cost {
  font-size: 30px;
  font-weight: 800;
  margin-top: 1.2%;
  margin-bottom: 3.3%;
}

.tastes button {
  margin-right: 5px;
}


.taste_active {
  background-color: orange;
  padding: 7px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  border: none;
}


.taste {
  border: 1px solid rgb(106, 92, 92);
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  background-color: white;
}

.taste:hover {
  background-color: #f5eeee;
}

.in_stock {
  width: 17vh;
  background-color: rgb(187, 248, 187);
  color: rgb(36, 201, 36);
  font-weight: 700;
  margin-bottom: 25px;
}

.not_in_stock {
  width: 20vh;
  background-color: red;
  color: white;
  font-weight: 700;
  margin-bottom: 25px;
}

.in_cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.in_cart__count {
  padding: 12px;
  border: 2px solid rgb(200, 197, 197);
  width: 105px;
  border-radius: 5px;
  margin-right: 20px;
}

.in_cart__count input {
  display: inline-block;
  border: none;
  max-width: 45%;
  margin: 0;
  appearance: none;
  padding: 0;
  text-align: center;
}



.add_to_cart {
  margin-left: 20px;
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  border: none;
}

.add_to_cart:hover {
  background-color: rgb(177, 120, 13);
}

@media (max-width: 500px) {
  .already__in__cart{
    margin-top: 20px;
  }
}

.already__in__cart{

  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  border: none;
}

.in_liked {
  margin-top: 25px;
  font-weight: 600;
  cursor: pointer;
}

.in_liked i {
  color: orange;
}


.titles {
  display: flex;
  justify-content: center;
}

.desc_name {
  margin-right: 7px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.desc_name:hover {
  color: rgb(107, 95, 95);
}

.charact_name {
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.charact_name:hover {
  color: rgb(107, 95, 95);
}

.characteristics {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 25px auto;
}

.characteristics__type {
  display: flex;
  justify-content: space-between;
}

.characteristics__first {
  font-weight: 700;
}

.characteristics__second {
  color: coral;
  font-weight: 600;
}

.active_name {
  color: rgb(107, 95, 95);
}

.description {
  padding: 60px;
}

.description p {
  font-size: 14px;
}

.in_cart__count button {
  border: none;
  background-color: white;
  font-size: 8px;
}

.order_created{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.created_butt{
  border: none;
  background-color: #92e7de;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-top: 40px;
}

.created_butt:hover{
  background-color: #65e7d8;
}


.custom-img{
  color: white;
}

.card{
  width: 300px;
}

@media (max-width: 650px) {
  .container{
    max-width: 450px;
  }
}

@media (max-width: 576px) {
  .container{
    max-width: 300px;
  }
}


@media (max-width: 470px) {
  .container{
    max-width: 300px;
  }
}